
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

nav {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

h1, h2, h3, h4 {
    font-family: 'Orbitron', sans-serif;
}

.navbar { font-size: larger; }
