
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

nav {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

h1, h2, h3, h4 {
    font-family: 'Orbitron', sans-serif;
}

.navbar { font-size: larger; }

blockquote {
    margin-left: 2em;
    margin-right: 2em;
}

#output-panel {
    height: 24em;
    overflow-y: scroll;
}

#output-panel::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f0f0f0;
}

#output-panel::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

footer a {
    color: white;
}

input, select, button {
    box-sizing: border-box;
}
